/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.modal-dialog {
    width: 60vw /* Define a largura do modal como 80% da largura da tela */
    margin: auto; /* Centraliza o modal na tela */
}

@media (max-width: 768px) {
    .modal-dialog {
        width: 100%; /* Para telas menores, ocupa 100% da largura */
        margin: 0; /* Remove margens para telas pequenas */
    }
}

.modal-content {
    width: 100%; /* Garante que o conteúdo ocupe 100% da largura do modal */
    max-width: none; /* Remove qualquer limite de largura */
}


    .modal-content .form-group {
        padding: 15px; /* Padding geral em grupos de formulário */
        padding: !important 0px 20px 0px 20px;
    }

    .modal-content .form-control,
    .modal-content textarea {
        padding: 10px; /* Padding nos inputs e textareas */
    }

.nav-link {
    font-size: 1.5rem !important; /* Ajuste conforme necessário */
    padding: 10px 15px !important; /* Espaçamento adicional */
}

.navbar-brand {
    font-size: 1.5rem; /* Tamanho do nome do aplicativo */
}